<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cindy.ghost" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ghost"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WinActivity">
        </activity>

        <activity
            android:name=".NameActivity">
        </activity>

        <activity
            android:name=".RankingActivity">
        </activity>

        <activity
            android:name=".LanguageActivity">
        </activity>

    </application>

</manifest>
